@charset "UTF-8";
* { margin: 0; padding: 0; }

body {
    width: 1900px;
    line-height: 1;
    color: #08243c;
}

:root{
    --font-weight-regular: 400 ;
    --font-weight-bold: 700;
    --font-weight-big: 900;
    --content-width:1160px;
}

ul, li { list-style: none; }

#header-wrap {
    /* position: flex;   */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.5s;
    z-index: 30;
}

#header-wrap #header {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
}

#header-wrap #header #logo{
    margin-left: 56px;
}

#header-wrap #header .inner {
    display: flex;
}

#header-wrap #header .inner ul#gnb {
    overflow: hidden;
}

#header-wrap #header .inner ul li {
    height: 43px;
    float: left;
}

#header-wrap #header .right img {
    margin-right: 80px;
}

#header-wrap #header .inner ul li a {
    margin-left: 102px;
    color: black;
    text-decoration: none;
    line-height: 43px;
    font-size: calc(100vw * (18 / 1400));
    font-weight: var(--font-weight-bold);
}


/*page1 main-banner*/

#container section:first-child{
    width: 100%;
    height: 980px;
    position: relative;
}

#container section:first-child #main-banner  {
    width: var(--content-width);
    height: 980px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    display: block;
}

#container section:first-child #main-banner .inner {
    margin: 0 auto;
    padding: 224px 0 147px;
    position: relative;
}

#container section:first-child #main-banner .inner .text img {
    height: 88px;
    margin-bottom: 50px
}

#container section:first-child #main-banner .inner .text h2{
    font-size: 22px;
    font-weight: var(--font-weight-regular);
    line-height: 1.6;
}

#container section:first-child #main-banner .inner .main  {
    position: absolute;
    top: 300px;
    right: 100px;
    width: 890px;
    height: 390px;
     margin-top: 134px;
    /* margin-left: 356px; */ 
}

#container section:first-child #main-banner .inner .main img {
    padding-top: 30px;
    padding-left: 100px;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    
}

#container section:first-child #main-banner .button {
    position: absolute;
    right:0;
    bottom: 130px;
}

#container section:first-child #main-banner .button img {
    width: 100px;
    height: 100px;
}

/* section2 */

#container section:nth-child(2) {
    width: 100%;
    height: 1325px;
    background-color: #f3f5f7;
    padding: 217px 0 88px 0;
}

#container section:nth-child(2) .inner {
    width: var(--content-width);
    height: 1020px;
    margin: 0 auto;
    box-sizing: border-box;
}

#container section:nth-child(2) .inner .box{
    position: relative;
    padding: 20px 0 0 30px;
    margin-left: -30px;
}

#container section:nth-child(2) .inner .box img {
    width: 799px;
}

#container section:nth-child(2) .inner .box p {
    font-size: 22px;
    line-height: 1.6;
    font-weight: var(--font-weight-regular);
}

#container section:nth-child(2) .inner .box span {
    font-size: 18px;
    font-weight: var(--font-weight-regular);
    color: #9e9e9e;
    margin-top: 14px;
    display: block;
}


#container section:nth-child(2) .inner .counting {
    display: flex;
    flex-wrap: wrap;
    margin-top: 144px;
}

#container section:nth-child(2) .inner .counting .number {
    width: 374px;
    padding-top: 40px;
    margin-bottom: 134px;
    border-top: 1px solid #9e9e9e;
    line-height: 1;
}

#container section:nth-child(2) .inner .counting .number:first-child {
    margin-left: 374px;
}

#container section:nth-child(2) .inner .counting .number p {
    font-size: 18px;
    font-weight: 500;
    color: #9e9e9e;
}

#container section:nth-child(2) .inner .counting .number .counter {
    display: flex;
    align-items: flex-end;
}

#container section:nth-child(2) .inner .counting .number:nth-child(1), #container section:nth-child(2) .inner .counting .number:nth-child(3) {
    margin-right: 20px;
}

#container section:nth-child(2) .inner .counting .number .counter h2{
    font-size: 60px;
    font-weight: var(--font-weight-bold);
    margin-top: 16px;
    margin-right: 10px;
    
}

#container section:nth-child(2) .inner .counting .number .counter span {
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    line-height: 1.6;
}



/* footer */

#footer {
    width: 100%;
    padding: 110px 0;
    background-color: #051829;
    color: #fff;
    position: relative;
}

#footer .inner {
    width: var(--content-width);
    margin: 0 auto;
    overflow: hidden;
}

#footer .inner .main h2{
    font-size: 74px;
    color: white;
    font-weight: var(--font-weight-big);
    margin-bottom: 30px;
}

#footer .inner .menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 112px;
}

#footer .inner .menu h2 {
    font-size: 22px;
    font-weight: var(--font-weight-regular);
    opacity: 0.8;
}

#footer .menu ul li {
    margin-bottom: 32px;
}

#footer .menu > ul li p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 373px;
    padding-bottom: 32px;
    border-bottom: 1px solid #fff ;
    opacity: 0.8;
    font-size: 26px;
    line-height: 1.6;
    font-weight: var(--font-weight-big);
}

#footer .info-con {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#footer .info-con .info1 h2 {
    font-size: 18px;
    font-weight: var(--font-weight-bold);
}

#footer .info-con .info1 p {
    margin-bottom: 10px;
    opacity: 0.8;
}

#footer .info-con .info1 p.copyright {
    margin-top: 80px;
}

#footer .info-con .info1 .com-ad {
    margin: 30px 0 20px;
}

#footer .info-con .info2 {
    margin-right: 216px;
}

#footer .info-con .info2 p {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.72;
}

#footer .info-con .info2 p:first-child {
    margin-bottom: 22px;
}

/* about페이지 메인*/

#about-container {
    margin-top: 145px;
}

#about-container .aside-about {
    position: fixed;
    left: 56px;
    top: 170px;
}

#about-container .aside-about li:not(:last-child) {
    margin-bottom: 16px;
}

#about-container .aside-about li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: var(--font-weight-regular);
    line-height: 1.6;
}

#about-container section .main {
    padding: 0 0;
    position: relative;
    width: var(--content-width);
    margin: 0 auto;
}

#about-container section .main .inner1:after {
    position: absolute;
    content: '';
    margin-left: -30px;
    top: 0;
    background-image: url(../img/orange.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 38px;
    height: 38px;
}

#about-container section .main .inner1 {
    position: relative;
    padding: 20px 0 0 0;
}

#about-container section .main .inner1 h2 {
    font-size: 88px ;
    font-weight: var(--font-weight-big) ;
    margin-bottom: 20px ;
}

#about-container section .main .inner1 p {
    font-size: 32px ;
    font-weight: var(--font-weight-regular);
}

#about-container section .ceo-info {
    margin-top: 120px;
    padding-bottom: 240px;
}

#about-container section .ceo-info .main .inner2  {
    margin-bottom: 142px;
}

#about-container section .ceo-info .main .inner2 h3 {
    font-size: 64px ;
    font-weight: var(--font-weight-big) ;
    margin-bottom: 38px ;
}


#about-container section .ceo-info .main .inner2 p {
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    line-height: 1.6;
}

#about-container section .ceo-info .ceo-say {
    margin-top: 140px;
    padding-left: 140px;
}

#about-container section .ceo-info .ceo-say .box {
    padding: 53px 200px 53px;
    background-color: #f3f5f7;
    margin-bottom: 60px;
    position: relative;
}

#about-container section .ceo-info .ceo-say .box .box-img {
    width: 199px;
    height: 198px;
    position: absolute;
    bottom: 0;
    left: -100px;
}

#about-container section .ceo-info .ceo-say .box .box-img img {
    vertical-align: middle;
    width: 199px;
    height: 198px;
}

#about-container section .ceo-info .ceo-say .box h3 {
    position: relative;
    font-size: 28px;
    font-weight: var(--font-weight-bold);
    line-height: 1.6;
    width: max-content;
}

#about-container section .ceo-info .ceo-say .box h3:after {
    background-image: url(../img/orange.png);
    position: absolute;
    content: "";
    left: -27px;
    top: -14px;
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
    background-position: center center;
}

#about-container section .ceo-info .ceo-say .ceo-txt {
    padding-left: 50px;
}

#about-container section .ceo-info .ceo-say .ceo-txt p {
    font-size: 18px;
    font-weight: var(--font-weight-regular);
    line-height: 1.6;
    color: #565656;
}

#about-container section .ceo-info .ceo-say .ceo-txt .ceo-name {
    margin-top: 40px;
}

/* about페이지 second */

#about-container section .second {
    padding-top: 240px;
    padding-bottom: 240px;
    background-color: #f3f5f7;
}

#about-container section .second .inner {
    padding: 0;
    position: relative;
    width: var(--content-width);
    margin: 0 auto;
}

#about-container section .second .inner .creator {
    padding-top: 0;
}

#about-container section .second .inner .creator .txt {
    margin-bottom: 142px;
}

#about-container section .second .inner .creator .txt h3 {
    font-size: 64px;
    font-weight: var(--font-weight-big);
    margin-bottom: 38px;
}

#about-container section .second .inner .creator .txt p {
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    line-height: 1.6;
}

#about-container section .second .inner .vm {
    padding: 222px 299px 217px 336px;
    margin-left: 100px;
    position: relative;
    width: max-content;
}

#about-container section .second .inner .vm .icon-left {
    margin: 60px;
    position: absolute;
    content: "";
    left: -60px;
    top: -60px;
}

#about-container section .second .inner .vm .icon-right {
    position: absolute;
    content: "";
    right: -60px;
    bottom: -60px;
}

#about-container section .second .inner .vm .icon-left img, #about-container section .second .inner .vm .icon-right img {
    vertical-align: middle;
    width: max-content;
}

#about-container section .second .inner .vm .creator-txt {
    display: block;
}

#about-container section .second .inner .vm .creator-txt .vision h3, #about-container section .second .inner .vm .creator-txt .mission h3 {
    font-size: 45px;
    font-weight: var(--font-weight-bold);

}

#about-container section .second .inner .vm .creator-txt .vision p, #about-container section .second .inner .vm .creator-txt .mission p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
}

#about-container section .second .inner .vm .creator-txt .mission {
    margin-top: 78px;
}

/* about페이지 third */

#about-container section .third {
    margin-top: 240px;
    padding-bottom: 240px;
}

#about-container section .third .inner {
    padding: 0;
    position: relative;
    width: var(--content-width);
    margin: 0 auto;
}

#about-container section .third .inner .strategies {
    padding-top: 0;
}

#about-container section .third .inner .strategies .tit{
    position: relative;
    padding: 20px 0 0 30px;
    margin-left: -30px;
}

#about-container section .third .inner .strategies .tit:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-image: url(../img/orange.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 38px;
    height: 38px;
}

#about-container section .third .inner .strategies .tit h2 {
    font-size: 74px;
    font-weight: var(--font-weight-big);
    margin-bottom: 38px;
}

#about-container section .third .inner .strategies .tit h2 span {
    color: #ee8100;
}

#about-container section .third .inner .strategies .tit p {
    font-size: 22px;
    font-weight: var(--font-weight-regular);
    line-height: 1.6;
}

#about-container section .third .inner .sub {
    display: flex;
    align-items: flex-start;
    padding-left: 30px;
    margin-top: 120px;
}

#about-container section .third .inner .sub .left {
    margin-right: 230px;
}

#about-container section .third .inner .sub .left .tab:not(:last-child) {
    margin-bottom: 80px;
}

#about-container section .third .inner .sub .left .tab {
    display: flex;
    align-items: center;

}

#about-container section .third .inner .sub .left .tab .icon {
    margin-right: 24px;
    width: 40px;
    height: 40px;
}

#about-container section .third .inner .sub .left .tab h2 {
    width: 470px;
    font-size: 40px;
    font-weight: var(--font-weight-bold);
    color: #566876;
}

#about-container section .third .inner .sub .left .tab.active > h2 {
    color: #ee8100;
}

#about-container section .third .inner .sub .left .tab.one .icon {
    background: url(../img/innovation.png) no-repeat center center;
}

#about-container section .third .inner .sub .left .tab.two .icon {
    background: url(../img/leading.png) no-repeat center center;
}

#about-container section .third .inner .sub .left .tab.three .icon {
    background: url(../img/crossborder.png) no-repeat center center;
}

#about-container section .third .inner .sub .left .tab.one.active .icon {
    background: url(../img/innovation-on.png) no-repeat center center;
}

#about-container section .third .inner .sub .left .tab.two.active .icon {
    background: url(../img/leading-on.png) no-repeat center center;
}

#about-container section .third .inner .sub .left .tab.three.active .icon {
    background: url(../img/crossborder-on.png) no-repeat center center;
}

#about-container section .third .inner .sub .right .box {
    position: relative;
    padding: 11px 0 0 14px;
}


#about-container section .third .inner .sub .right .box p {
    font-size: 15px;
    font-weight: var(--font-weight-regular);
    line-height: 1.6;
    width: 500px;
}

#about-container section .third .inner .sub .right .box:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-image: url(../img/txt-icon.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
}

/* about페이지 fourth */

#about-container section .fourth {
    padding-top: 240px;
    padding-bottom: 240px;
    background-color: #f3f5f7;
}

#about-container section .fourth .inner {
    padding: 0 0;
    margin: 0 auto;
    position: relative;
    width: var(--content-width);
}

#about-container section .fourth .inner .unicorn {
    padding-top: 0;
}

#about-container section .fourth .inner .unicorn .u-right {
    position: relative;
    padding: 87px 0 0 103px;
    margin-left: 560px;
    margin-bottom: 100px;
}

#about-container section .fourth .inner .unicorn .u-right:after{
    position: absolute;
    content: "";
    background-image: url(../img/orange-cre.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 130px;
    height: 130px;
    left: 0;
    top: 0;

}

#about-container section .fourth .inner .unicorn .u-right h2 {
    font-size: 74px;
    font-weight: var(--font-weight-big);
    margin-bottom: 38px;
}

#about-container section .fourth .inner .unicorn .u-right h2 span {
    color: #ee8100;
}

#about-container section .fourth .inner .unicorn .u-left p {
    font-size: 22px;
    font-weight: var(--font-weight-regular);
    line-height: 1.6;
}

/* people페이지 */
#about-container section .main .content {
    margin-top: 118px;
    width: var(--content-width);
    height: 472px;
}

#about-container section .main .content .tab-container {
    width: var(--content-width);
    height: 472px;
}

#about-container section .main .content .tab-container .tab-leader ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 832px;
    padding-top: 15px;
}

#about-container section .main .content .tab-container .tab-leader ul li {
    margin-right: 30px;    
}

#about-container section .main .content .tab-container .tab-leader ul li a {
    font-size: 20px;
    font-weight: var(--font-weight-regular);
    color: #191919;
    margin-bottom: 30px;
    display: block;
    text-decoration-line: none;
}

#about-container section .main .content .tab-container .tab-leader ul li:first-child a {
    color: #ee8100;
    text-decoration: underline;
    text-underline-offset: 0.5em;
}

#about-container section .main .content .tab-container .tab-photo {
    margin-top: 30px;
    position: relative;
    display: block;
}

#about-container section .main .content .tab-container .tab-photo .tab-photo1 .photoceo {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#about-container section .main .content .tab-container .tab-photo .tab-photo1 .photoceo .photobox .photo {
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #ebebeb;
}

#about-container section .main .content .tab-container .tab-photo .tab-photo1 .photoceo .photobox .photo img {
    transition: all .5s ease;
    filter: grayscale(100%);
}


#about-container section .main .content .tab-container .tab-photo .tab-photo1 .photoceo .photobox .name h2 {
    font-size: 28px;
    font-weight: var(--font-weight-bold);
}

#about-container section .main .content .tab-container .tab-photo .tab-photo1 .photoceo .photobox .name p {
    font-size: 16px;
    font-weight: var(--font-weight-regular);
    color: #777;
    margin-top: 8px;
}