@charset "UTF-8";

ul, ol { list-style: none;}
li { position: relative;}
a { color: #666666;}

dl {
    width: 800px;
    margin: 50px auto;
}

dt {
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    color: white;
    background-color: black;
}

dd {
    margin: 0;
    height: 300px;
    background-color: yellow;
}

.box {
    width: 500px;
    height: 500px;
    display: none;
    background-color: red;
    color: white;
}